*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background: linear-gradient(45deg,#3498db,#9b59b6);
    overflow: hidden;
}
#center{
    width: 302px;
    height: 550px;
    padding: 0 12px;
    background: rgb(35,34,39);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    border-radius: 2%;
}
header{
    height: 160px;
    position: relative;
    
}
header span{
    position: absolute;
    display: block;
    height: 1.5px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg,#3498db,#9b59b6);
}
input[type=button]{
    cursor:pointer;
    width: 45px;
    height: 45px;
    display: block;
    border: none;
    outline: none;
    background: rgb(79, 80, 84);
    color: #fff;
    border-radius: 50%;
    font-weight:bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    margin: 8px 11px;
}
input[type=text]{
    border: none;
    margin-top: 110px;
    width: 275px;
    height: 40px;
    font-size: 40px;
    color:bisque;
    background: rgb(35,34,39);
    text-align:right;
}
#equal{
    background:linear-gradient(to right, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

input[type=button]:hover{
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    z-index: 1;
    animation: glow 8s linear infinite;
}
input[type=button]:before{
    opacity: 0;
    transition-delay: opacity 10s;
} 
input[type=button]:hover::before{
    opacity: 1;
    z-index: -1;
}
@keyframes glow{
    0%{
        background-position: 0%;
        box-shadow:0px 0px 25px;
    }
    100%{  
        background-position: 400%;
        box-shadow:0px 0px 10px;
    }
}